  .custom-card{
                max-width: 40rem;
                min-height: 20rem;
                 margin: 0 auto;
                border-radius: 10px;
                border: solid 1px rgb(221, 221, 221);
            }
            .card-head{
                text-align: center;
                vertical-align: middle;
                color: white;
                width: 100%;
                min-height: 12rem;
                background: rgb(0, 75, 236);
                padding:2px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 2px;

            }

            .custom-card-body{
                width: 100%;
                min-height: 8rem;
                border-bottom: solid 1px rgb(212, 212, 212) ;
            }
            .custom-card{
                max-width: 40rem;
                min-height: 20rem;
                 margin: 0 auto;
                border-radius: 10px;
                border: solid 1px rgb(221, 221, 221);
            }
            .card-head{
                text-align: center;
                vertical-align: middle;
                color: white;
                width: 100%;
                min-height: 12rem;
                background: rgb(0, 75, 236);
                padding:2px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 2px;

            }

            .custom-card-body{
             width: 100%;
                min-height: 8rem;
                border-bottom: solid 1px rgb(212, 212, 212) ;
            }